#portfolio {
  background-color: $primary-color;
  @media #{$medium-and-down} {
    #portfolio {
      height:700px;
    }
  }
  .card-link {
    color: $primary-color;
  }
  .eyeIcon {
    margin-right: 10px;
  }
  .glide__arrow {
    top: inherit !important;
    bottom: -60px !important;
  }
  .glide__bullets {
    bottom: -30px !important;
  }
}