#portfolio {
  background-color: $primary-color;
  @media #{$medium-and-down} {
    #portfolio {
      height:700px;
    }
  }
  .eyeIcon {
    margin-right: 10px;
  }
  .glide__arrow {
    position: inherit;
    display: inherit;
  }
  .glide__bullets {
    position: relative;
    bottom: 1em;
    transform: translateX(-80%);
  }
}