#portfolio {
  //.container {
  //  width: 83%;
  //}
  background-color: $primary-color;
  .eyeIcon {
    margin-right: 10px;
  }
  .glide__arrow {
    position: inherit;
    display: inherit;
  }
  .glide__bullets {
    position: relative;
    bottom: 1em;
    transform: translateX(-80%);
  }
  .card-content i {
    cursor: pointer;
  }
}