#qui_suis_je {
  #greg {
    margin-top: 10%;
  }
  @media all and (max-width:992px) {
    #greg {
      margin-top:25%;
    }
  }
  .reseaux-sociaux {
    //margin-top: rem-calc(20);
    margin-top: 60px;
    a.facebook, a.twitter, a.google, a.linkedin {
      text-align: center;
    }
    a.facebook, a.twitter, a.google {
      padding-top: 7px;
    }
    a.linkedin {
      padding-top: 5px;
    }
  }
  .icon-facebook, .icon-linkedin2, .icon-twitter, .icon-google-plus {
    font-size: 28px;
    color: $primary-color;
  }
}