/* init */
* {
    margin: 0;
    padding: 0;
}
#certifications .row .col, 
#portfolio .row .col, 
#competences .row .col, 
#qui_suis_je .row .col, 
#home .row .col {
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400; 
}
  h1 {
    color: #fff;
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
    line-height: 60px;
}
#nom {
    color: #00bfa5; /* vert menthe */
    font-size: 72px;
    text-transform:initial;
    font-family: 'Kaushan Script', cursive;
}
/* bouton home */
.suite {
    bottom: 30px;
    left: -55.5px;
    -webkit-transition:left 1s ease-out 5s !important;
   -moz-transition:left 1s ease-out 5s !important;
   -o-transition:left 1s ease-out 5s !important;
   transition:left 1s ease-out 5s !important;
}
ul:not(.browser-default) {
  padding: 0;
  list-style-type: none; }
  ul:not(.browser-default) li {
    list-style-type: none; }

a {
  color: #00bfa5; /* vert menthe */
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }
/* ================================================================
======================= NAVIGATION ================================
===================================================================
*/

.navbar-fixed {
  position: relative;
  height: 64px;
  z-index: 997; 
}
.navbar-fixed nav {
    position: fixed; 
}
@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 64px;
        line-height: 64px; 
    }
    .navbar-fixed {
        height: 64px; 
    } 
}
nav {
  color: #727272;
  background-color: #fff; /* blanc */
  width: 100%;
  height: 64px;
  line-height: 58px; 
}
/* couleur de l'icone burger menu */
nav a {
    color: #00bfa5; /* vert menthe */
}
nav ul {
    margin: 0; }
    nav ul li {
      transition: background-color .3s;
      float: left;
      padding: 0; }
/* bordure item actif du menu */
nav ul a.active {
    border-bottom: 6px solid #00bfa5; /* vert menthe */
}
nav .brand-logo {
    position: absolute;
    color: #727272;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap; 
}
/* liens du menu mobile */
#greg-mobile .waves-effect {
    display: block;
}

/* ================================================================
============================ HOME =================================
===================================================================
*/

#home {
    background: rgba(0,0,0, 0.5);
}
.presentation {
    height: 100%;
}
/* message de confirmation pour l'envoi du formulaire */
.toast {
    background-color: #00bfa5; /* vert menthe */
    word-break: normal;
}
#toast-container {
    width:300px;
    right: calc(50.5% - 150px);
}
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto; 
}
.right {
  float: right !important; 
}
nav ul a {
      transition: background-color .3s;
      font-size: 1rem;
      color: #727272;
      display: block;
      padding: 0 15px;
      cursor: pointer; 
}
.center, .center-align {
  text-align: center; 
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px; 
}
.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; 
}
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%); 
}
.valign-wrapper {
    display: flex;
    align-items: center; 
}
  .valign-wrapper .valign {
    display: block; 
}



