/* init */
* {
    margin: 0;
    padding: 0;
}
#certifications .row .col, 
#portfolio .row .col, 
#competences .row .col, 
#qui_suis_je .row .col, 
#home .row .col {
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    margin: auto;
    text-transform: uppercase;
    line-height: 60px;
}
#nom {
    color: #C043D5; /* violet */
    font-size: 72px;
    font-weight: 700;
    text-transform:initial;
    font-family: 'Kaushan Script', cursive;
}
/* bouton home */
.suite {
    bottom: 30px;
    left: -55.5px;
    background-color: #C043D5; /* violet */
    -webkit-transition:all 1000ms ease-out 1s;
   -moz-transition:all 1000ms ease-out 1s;
   -o-transition:all 1000ms ease-out 1s;
   transition:all 1000ms ease-out 1s;
}
/* ================================================================
======================= NAVIGATION ================================
===================================================================
*/

nav {
    background-color: #fff; /* blanc */
    color: #727272;
    line-height: 58px;
}
@media all and (max-width:600px) {
    nav {
        height: 64px;
        line-height: 64px;
    }    
}
nav ul a {
    color: #727272; /* gris */
}
/* couleur de l'icone burger menu */
nav a {
    color: #C043D5; /* violet */;
}
nav ul a.active {
    font-weight: 500;
    padding-left: 18px;
    border-bottom: 6px solid #C043D5; /* violet */
}
nav .brand-logo {
    font-family: 'kaushanscript', Arial, serif;
    text-shadow:1px 1px 2px gray;
    color: #C043D5; /* violet */
}
#logo {
    height: 64px;
    width: 70px;

}
@media all and (max-width: 600px) {
    .navbar-fixed {
        height:64px;
    }
}
/* liens du menu mobile */
#greg-mobile .waves-effect {
    display: block;
}

/* ================================================================
============================ HOME =================================
===================================================================
*/

#home {
    background: rgba(0,0,0, 0.5);
}
.presentation {
    height: 100%;
}
/* message de confirmation pour l'envoi du formulaire */
.toast {
    background-color: #C043D5; /* violet */
    word-break: normal;
}
#toast-container {
    width:300px;
    right: calc(50.5% - 150px);
}