# Les ligne commençant par '#' sont des commentaires.
# Ignorer les fichiers

# Ignorer tous les fichiers swap
*~

#Ignorer dossier IDE
./idea/*

# Ignorer le dossier node_modules
./node_modules/*

# Ignorer le dossier dist
./dist/*

# Ignorer le dossier output
./output/*

# Ignorer l'entree preprocesseur du fm
./css/*.css

# Ignorer la generation du fichier index.html
./index.html

# ignorer les fichiers htaccess
./htaccess

# ignorer le fichier de config
.content/cnx.js