#mise en cache pendant 1 mois
Header add Cache-Control "max-age=2592000"
#erreur
#ErrorDocument 401 /erreurs/erreur_401.php
#ErrorDocument 403 /erreurs/erreur_403.php
ErrorDocument 404 /erreurs/404.php
#ErrorDocument 500 /erreurs/erreur_500.php
#redirection vers l'index
DirectoryIndex index.min.php index.min.html 404.php
#DirectoryIndex index.php index.html 404.php
#redirection 301
Redirect 301 /blog/ http://www.gregorypeigne.fr
Redirect 301 http://www.gregorypeigne.frnaujac-sur-mer/?article=4&section=article http://www.gregorypeigne.fr
Redirect 301 http://www.gregorypeigne.frnaujac-sur-mer/?article=5&section=article http://www.gregorypeigne.fr
Redirect 301 /web/start-up/ http://www.gregorypeigne.fr
Redirect 301 /web/logiciels-malveillant/ http://www.gregorypeigne.fr
Redirect 301 /web/routeur/ http://www.gregorypeigne.fr
Redirect 301 /web/cryptage/ http://www.gregorypeigne.fr
Redirect 301 /web/pedagogie/ http://www.gregorypeigne.fr
Redirect 301 /web/code/ http://www.gregorypeigne.fr
Redirect 301 /web/serveur/ http://www.gregorypeigne.fr
Redirect 301 /web/https/ http://www.gregorypeigne.fr
Redirect 301 /web/firefox/ http://www.gregorypeigne.fr
Redirect 301 /web/neerlandais/ http://www.gregorypeigne.fr
Redirect 301 /developpement-web/ http://www.gregorypeigne.fr
Redirect 301 /2015/03/ http://www.gregorypeigne.fr
Redirect 301 /web/google/ http://www.gregorypeigne.fr
Redirect 301 /web/intel/ http://www.gregorypeigne.fr
Redirect 301 /web/modem/ http://www.gregorypeigne.fr
Redirect 301 /web/chauffage/ http://www.gregorypeigne.fr
Redirect 301 /web/cloud/ http://www.gregorypeigne.fr
Redirect 301 /blog/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/mud/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/mud/nos-choix/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/mud/nos-references/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/mud/evenement/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/mud/nous-contacter/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/naujac-sur-mer/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/test-responsive/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/blog-zozor/ http://www.gregorypeigne.fr
Redirect 301 /portfolio_/calculatrice/ http://www.gregorypeigne.fr
Redirect 301 /cv/ http://www.gregorypeigne.fr
Redirect 301 /profil/ http://www.gregorypeigne.fr
#articles
Redirect 301 /web/langage-informatique/ http://www.gregorypeigne.fr
Redirect 301 /certificats/apprenez%20 http://www.gregorypeigne.fr
Redirect 301 /certificats/certificat%20gerer%20son%20code%20avec%20git%20et%20github.pdf?trk=profile_certification_title http://www.gregorypeigne.fr
Redirect 301 /certificats/PHP%20MySql.pdf http://www.gregorypeigne.fr
Redirect 301 /2015/04/ http://www.gregorypeigne.fr
Redirect 301 /certificats/HTML5%20CSS3.pdf?trk=profile_certification_title http://www.gregorypeigne.fr
Redirect 301 /certificats/Comprendre%20le%20web.pdf?trk=profile_certification_title http://www.gregorypeigne.fr
Redirect 301 /gregory.peigne/cv/ http://www.gregorypeigne.fr
Redirect 301 /commerciale/ http://www.gregorypeigne.fr
Redirect 301 /securite-informatique/ http://www.gregorypeigne.fr
Redirect 301 /insolite/ http://www.gregorypeigne.fr
Redirect 301 /developpement-informatique/ http://www.gregorypeigne.fr
Redirect 301 /developpeur-web/ http://www.gregorypeigne.fr
Redirect 301 /le-langage-informatique-a-lecole/ http://www.gregorypeigne.fr
Redirect 301 /un-cryptage-complementaire-a-https/ http://www.gregorypeigne.fr
Redirect 301 /voici-le-google-bike/ http://www.gregorypeigne.fr
Redirect 301 /amazon-hebergeur-de-malware/ http://www.gregorypeigne.fr
Redirect 301 /stockage-en-ligne-illimite/ http://www.gregorypeigne.fr
Redirect 301 /radiateurs-serveurs-maison/ http://www.gregorypeigne.fr
Redirect 301 /700-000-modems-routeurs-faille-de-securite/ http://www.gregorypeigne.fr
#media
Redirect 301 /wp-content/uploads/2015/05/portfolio4.png http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/05/certificats1.png http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/05/competences.png http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/05/mud.png http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/05/favicon.png http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/04/developpeur-chungking-fotolia.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/04/hamon.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/04/000000044800.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/03/200.1062672.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/03/640.1071157.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/03/200.1071187.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/03/nerdalize-2.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/03/nerdalize.jpg http://www.gregorypeigne.fr
Redirect 301 /wp-content/uploads/2015/03/000000044615.jpg http://www.gregorypeigne.fr

