#mise en cache
Header add Cache-Control "max-age=31536000"
#erreur
#ErrorDocument 401 /erreurs/erreur_401.php
#ErrorDocument 403 /erreurs/erreur_403.php
ErrorDocument 404 /erreurs/404.php
#ErrorDocument 500 /erreurs/erreur_500.php
#redirection vers l'index
DirectoryIndex index.min.php index.min.html 404.php
#redirection 301
redirect 301 /blog/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/mud/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/mud/nos-choix/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/mud/nos-references/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/mud/evenement/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/mud/nous-contacter/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/naujac-sur-mer/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/test-responsive/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/blog-zozor/ http://www.gregorypeigne.fr
redirect 301 /portfolio_/calculatrice/ http://www.gregorypeigne.fr
Redirect 301 /cv/ http://www.gregorypeigne.fr
redirect 301 /profil/ http://www.gregorypeigne.fr
#articles
redirect 301 /developpeur-web/ http://www.gregorypeigne.fr
redirect 301 /le-langage-informatique-a-lecole/ http://www.gregorypeigne.fr
redirect 301 /un-cryptage-complementaire-a-https/ http://www.gregorypeigne.fr
redirect 301 /voici-le-google-bike/ http://www.gregorypeigne.fr
redirect 301 /amazon-hebergeur-de-malware/ http://www.gregorypeigne.fr
redirect 301 /stockage-en-ligne-illimite/ http://www.gregorypeigne.fr
redirect 301 /radiateurs-serveurs-maison/ http://www.gregorypeigne.fr
redirect 301 /700-000-modems-routeurs-faille-de-securite/ http://www.gregorypeigne.fr
#media
redirect 301 /wp-content/uploads/2015/05/portfolio4.png http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/05/certificats1.png http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/05/competences.png http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/05/mud.png http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/05/favicon.png http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/04/developpeur-chungking-fotolia.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/04/hamon.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/04/000000044800.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/03/200.1062672.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/03/640.1071157.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/03/200.1071187.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/03/nerdalize-2.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/03/nerdalize.jpg http://www.gregorypeigne.fr
redirect 301 /wp-content/uploads/2015/03/000000044615.jpg http://www.gregorypeigne.fr