AuthName "Espace de preproduction"
AuthType Basic
AuthUserFile "/srv/data/web/vhosts/preprod.gregorypeigne.fr/htdocs/.htpasswd"
Require valid-user

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /plailly/htdocs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /plailly/htdocs/index.php [L]
</IfModule>

# END WordPress