<div class="parallax valign"><img src="img/competences_gregory.jpg" class="responsive-img" alt="Compétences Grégory" /></div>
<div class="container valign">
    <div class="row">
        <h3 class="left-align">COMPETENCES</h3>
        <div class="col m12 l4">
            <p class="flow-text grey-text text-darken-2">{{ resume }}</p>
        </div>
        <div class="carousel col m10 l6">
            {% for skill in skills %}
                <a class="carousel-item" href="#one!">
                    <div class="single-skill">
                        <div id="{{ skill.name }}" class="singel-hr-inner">
                            <div class="skill-title center-align">
                                <strong>{{ skill.name | replace({'_': ' '}) | upper }}</strong>
                                <div class="hr">
                                    <div class="point"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="score">{{ skill.score }}%</span>
                </a>
            {% endfor %}
        </div>
        <div class="col l2 btn-mobile right-align">
            <a href="#" class="gauche btn-floating btn-large waves-effect waves-light"><i class="material-icons">keyboard_arrow_left</i></a>
            <a href="#" class="droite btn-floating btn-large waves-effect waves-light"><i class="material-icons">keyboard_arrow_right</i></a>
        </div>
    </div>
</div>