<div class="container valign">
    <div class="footer-copyright row">
        <div class="col s6 offset-s1">
            Crédits photos:
            <span class="grey-text text-lighten-4">Openclassrooms</span>
        </div>
        <div class="col s4 offset-s1 reseaux-sociaux">
            <script type="in/share" data-counter="right"></script>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">share</i>
            </a>
            <ul>
                <li><a class="btn-floating grey darken-2" id="linkedin"><span class="icon-linkedin2"></span></a></li>
                <li><a class="btn-floating grey darken-2" id="facebook"><span class="icon-facebook"></span></a></li>
                <li><a class="btn-floating grey darken-2" id="twitter"><span class="icon-twitter"></span></a></li>
            </ul>
        </div>
    </div>
</div>