<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- meta OG pour facebook -->
<meta property="fb:app_id" content="145634995501895"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Grégory Peigné"/>
<meta property="og:description" content="Développeur web REACTJS, SYMFONY, SASS, GULP."/>
<meta property="og:url" content="http://www.gregorypeigne.fr"/>
<meta property="og:image" content="http://www.gregorypeigne.fr/img/logo_greg"/>
<meta property="og:site_name" content="Grégory Peigné"/>
<!-- meta tweeter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@GregoryPeigne">
<meta name="twitter:title" content="Grégory Peigné, développeur web REACTJS, SYMFONY, SASS, GULP.">
<meta name="twitter:description" content="Grégory Peigné, développeur web REACTJS, SYMFONY, SASS, GULP.">
<meta name="twitter:creator" content="@GregoryPeigne">
<meta name="twitter:image:src" content="http://www.gregorypeigne.fr/img/logo_greg">
<!-- meta google+ -->
<meta itemprop="name" content="Grégory Peigné">
<meta itemprop="description" content="Grégory Peigné, développeur web REACTJS, SYMFONY, SASS, GULP.">
<meta itemprop="image" content="http://www.gregorypeigne.fr/img/logo_greg">
<title>{{ title }}</title>
<meta name="description" content="Je suis Grégory Peigné, développeur web depuis 2012. J’ai débuté en autodidacte sur la plateforme openclassrooms. Ensuite j’ai intégré L’INFA pour une formation de 3 mois pour valider mon expérience autodidacte. Puis j’ai obtenu une licence de chef de projet digital à Institut F2i à Paris">

<!-- build:css css/combined.css -->
<link href='css/materialize.css' rel='stylesheet' type='text/css'>
<!-- endbuild -->

<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="./favicon.png" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="./favicon.ico" />
<!--[if IE 6]>
<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/>
<![endif]-->

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">