<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#page-top" class="brand-logo"><img itemprop="image" class="responsive-img" src="img/logo_gregory.png" alt="logo Grégory" /></a>
            <a href="#" data-target="greg-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect" href="#qui_suis_je">Qui suis-je ?</a></li>
                <li><a class="waves-effect" href="#competences">Compétences</a></li>
                <li><a class="waves-effect" href="#portfolio">Portfolio</a></li>
                <li><a class="waves-effect" href="#certifications">Certifications</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="greg-mobile">
    <li><a class="waves-effect" href="#qui_suis_je">Qui suis-je ?</a></li>
    <li><a class="waves-effect" href="#competences">Compétences</a></li>
    <li><a class="waves-effect" href="#portfolio">Portfolio</a></li>
    <li><a class="waves-effect" href="#certifications">Certifications</a></li>
</ul>