<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#page-top" class="brand-logo"><img itemprop="image" class="responsive-img" src="img/logo_gregory.png" alt="logo Grégory" /></a>
            <a href="#" data-activates="greg-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="waves-effect"><a href="#qui_suis_je">Qui suis-jes ?</a></li>
                <li class="waves-effect"><a href="#competences">Compétences</a></li>
                <li class="waves-effect"><a href="#portfolio">Portfolio</a></li>
                <li class="waves-effect"><a href="#certifications">Certifications</a></li>
                <li class="waves-effect"><a href="#contact">Contact</a></li>
            </ul>
            <ul class="side-nav" id="greg-mobile">
                <li class="waves-effect"><a href="#qui_suis_je">Qui suis-jed ?</a></li>
                <li class="waves-effect"><a href="#competences">Compétences</a></li>
                <li class="waves-effect"><a href="#portfolio">Portfolio</a></li>
                <li class="waves-effect"><a href="#certifications">Certifications</a></li>
                <li class="waves-effect"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>