<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- meta OG pour facebook -->
<meta property="fb:app_id" content="145634995501895"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Grégory Peigné | Développeur web fullstack à Paris"/>
<meta property="og:description" content="Recherche contrat pro ou CDD/CDI développeur web."/>
<meta property="og:url" content="http://www.gregorypeigne.fr"/>
<meta property="og:image" content="http://www.gregorypeigne.fr/img/photo_gregory.png"/>
<meta property="og:site_name" content="Grégory Peigné"/>
<!-- meta tweeter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@GregoryPeigne">
<meta name="twitter:title" content="Recherche contrat pro ou CDD/CDI développeur web.">
<meta name="twitter:description" content="Recherche contrat pro ou CDD/CDI développeur web.">
<meta name="twitter:creator" content="@GregoryPeigne">
<meta name="twitter:image:src" content="http://www.gregorypeigne.fr/img/photo_gregory.png">
<!-- meta google+ -->
<meta itemprop="name" content="Grégory Peigné">
<meta itemprop="description" content="Recherche contrat pro ou CDD/CDI développeur web.">
<meta itemprop="image" content="http://www.gregorypeigne.fr/img/photo_gregory.png">
<title>{{ title }}</title>
<meta name="description" content="Bonjour, je suis à la recherche d'un contrat pro ou CDD/CDI en développement web junior. Venez découvrir mon profil, mes compétences et mon Portfolio.">

<!-- build:css css/combined.css -->
<link href='css/materialize.css' rel='stylesheet' type='text/css'>
<!-- endbuild -->


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="/favicon.png" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
<!--[if IE 6]>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<![endif]-->

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">