<div class="parallax">
    <img class="responsive-img" src="img/travail_gregory.jpg" alt="Poste de travail"/>
</div>
<div class="presentation valign-wrapper">
    <h1 itemprop="name" class="valign"><span id="nom">Grégory Peigné </span><br/>Développeur web Full Stack à Paris</h1>
    <h2>PHP, MySQL, Javascript, JQuery, Node.js, Bootstrap, Materialize ...</h2>
</div>
