<div class="parallax">
    <img class="responsive-img" src="img/travail_gregory.jpg" alt="Poste de travail"/>
</div>
<div class="presentation valign-wrapper">
    <div>
        <div id="nom">{{ title }}</div>
        <h1> {{ subTitle }}</h1>
    </div>
</div>
