<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'head.twig' %}
    </head>
    <body id="page-top">
        <div id="fb-root"></div>
        {% include 'facebook.twig' %}
        {% block body %}{% endblock %}
        {% include 'js.twig' %}
    </body>
</html>