<div class="container valign">
    <div itemscope itemtype="http://schema.org/LocalBusiness" class="row">
        <h3 class="left-align">Qui suis-je ?</h3>
        <div class="col m12 l4">
            <p class="flow-text grey-text text-darken-2">J'ai fait de ma passion pour le digital mon métier. Conscient des enjeux actuels liés au <strong class="flow-text grey-text text-darken-2">numérique</strong>, je souhaite évangéliser mes connaissances en <strong>contrat pro</strong> ou en <strong>CDD/CDI web junior</strong>. Souple et rigoureux dans mon travail, j’ai une bonne culture du web, j’aime les <strong>nouvelles technologies</strong>, la pizza et la musique :)</p>
            <a href="../files/cv.zip" class="waves-effect waves-light btn-large white-text"><i class="material-icons left">archive</i> CV</a>
        </div>
        <div class="col m6 l4 center-align">
            <img itemprop="image" id="greg" class="responsive-img z-depth-1" src="files/img/photo_gregory.png" alt="Gregory Peigne" title="Gregory Peigne" />
        </div>
        <div class="col m6 l4">
            <h5 itemprop="name" class="flow-text grey-text text-darken-2">Grégory Peigné</h5>
            <h5 class="flow-text grey-text text-darken-2">35 ans</h5>
            <h5 id="_telephone3" itemprop="telephone" class="flow-text grey-text text-darken-2">06.95.81.36.65</h5>
            <h5 id="_email4" itemprop="email" class="flow-text grey-text text-darken-2">contact@gregorypeigne.fr</h5>
            <h5 id="_address5" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="flow-text grey-text text-darken-2"><span itemprop="streetAddress">Rue des prairies</span> <span itemprop="postalCode">75020</span> <span itemprop="addressLocality">Paris</span> <span itemprop="addressCountry">FRANCE</span></h5>
            <div class="reseaux-sociaux">
                <ul>
                    <li><a class="btn-floating waves-effect waves-light white" href="https://fr.linkedin.com/in/gregory-peigné-6636b4b7" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="btn-floating waves-effect waves-light white" href="https://www.facebook.com/profile.php?id=100009571562244" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="btn-floating waves-effect waves-light white" href="https://twitter.com/GregoryPeigne" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="btn-floating waves-effect waves-light white" href="https://plus.google.com/u/0/117533989173689123445/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>